flask
loguru
paho-mqtt
pip-chill
playsound
pynput
# click # Installed as dependency for flask
# itsdangerous # Installed as dependency for flask
# jinja2 # Installed as dependency for flask
# markupsafe # Installed as dependency for jinja2
# pyobjc-core # Installed as dependency for pyobjc-framework-applicationservices, pyobjc-framework-cocoa, pyobjc-framework-quartz
# pyobjc-framework-applicationservices # Installed as dependency for pynput
# pyobjc-framework-cocoa # Installed as dependency for pyobjc-framework-applicationservices, pyobjc-framework-quartz
# pyobjc-framework-quartz # Installed as dependency for pyobjc-framework-applicationservices, pynput
# six # Installed as dependency for pynput
# werkzeug # Installed as dependency for flask
