<h1>Joe's Xmas Light Controller for {{ name }}</h1>

<form action="/play/" method="post">
    <ul>
        <li><label for="a">A: </label><input type="number" size="3" name="a"></li>
        <li><label for="b">B: </label><input type="number" size="3" name="b"></li>
        <li><label for="c">C: </label><input type="number" size="3" name="c"></li>
        <li><label for="d">D: </label><input type="number" size="3" name="d"></li>
        <li><label for="e">E: </label><input type="number" size="3" name="e"></li>
        <li><label for="f">F: </label><input type="number" size="3" name="f"></li>
        <li><label for="g">G: </label><input type="number" size="3" name="g"></li>
    </ul>
    <input type="submit">
</form>